.moveBar {
    position: absolute;
    width: 50.000000000%;
    height: 50.000000000%;
    background: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.banner {
    background: #7a6e6e;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    float: right;
    position: absolute;
/*    z-index: 1;*/
    right: 0px;
    display: none;
}


.opacity {
    opacity: 0.7 !important;
}

/*删除、修改、移动按钮样式*/

.draggrid-resize-img {
    cursor: nwse-resize;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    content: url(../icon/resize-bottom-right.png);
}

.draggrid-btn-base-img {
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 3px 3px 1px 2px;
}

.draggrid-none-select{
    /*不允许出现选中*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.draggrid-btn-delete-img {
    content: url(../icon/delete.png);
}

.draggrid-btn-move-img {
    cursor: move;
    content: url(../icon/move.png);
}

.draggrid-btn-resize-img {
    content: url(../icon/move-resize-variant.png);
}
/*只显示当前层*/

.moveBar:hover >.banner {
    display: block;
    z-index: 1;
/*    background-color:darkgrey;*/
}

/*只显示当前层*/
.moveBar:hover >.draggrid-resize-img {
    display: block !important;
    
}

.draggrid-hide {
    display: none;
}
